extends layout

block content

  h1.errorPageTitle= error.status + ' Error - ' + error.message
  p.errorPageText= error.statusText
  div.errorPageStackContainer
    p.errorPageStack= error.stack

  p
    a.button(href='/') Back
