doctype html
html
  head
    title= 'TypeErrorDevs - List Of ' + title
    link(rel='stylesheet' href='/stylesheets/styles.css' type='text/css')
    link(rel="favicon" href="/images/ava.jpeg")
  body
    block content