@use "../util/variables" as *;

.error {
  color: $error;
}
.errorPageTitle {
  color: $error;
  font-size: $errorMainText;
}
.errorPageMsg {
  color: $error;
  font-size: $errorAltText;
}
.errorPageText {
  color: green;
  font-size: $errorAltText;
}
.errorPageStackContainer {
  outline: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}
.errorPageStack {
  color: red;
  font-kerning: auto;
  font-size: $errorAltText;
}
