@use "../util/variables" as *;

.error {
  color: $error;
}
.errorPageTitle {
  color: $error;
  font-size: $errorMainText;
}
.errorPageMsg {
  color: $error;
  font-size: $errorAltText;
}
.errorPageText {
  color: green;
  font-size: $errorAltText;
}
.errorPageStack {
  color: red;
  font-kerning: auto;
  font-size: $errorAltText;
}
